body {
  padding: 0;
  margin: 0;
  font-family: 'DLRG Univers 55 Roman', 'Arial', 'Helvetica', sans-serif;
  font-size: 12px;
  overflow: hidden;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
